.modal {
   width: 520px;
   height:260px;
   background-color: #009116;
   position: absolute;
   top: 50vh;
   left: 50vw;
   transform: translateX(-50%) translateY(-50%);
   color: white;
}

.header {
    color: white;
    background-color: #007e08;
    padding: 10px;
    position: relative;
    top:-20px;
}

.closeButton:after {
    font-size: 40px;
    color: white;
    content: "×";
    position: relative;
    right: -80px;
}




