nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #5f6060;
    color: white
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 50%;
}

.link-item {
    color: white;
}

.is-active {
    font-weight: bolder;
    color: yellow;
    text-decoration: none;

}