.card {
  width: 240px;
  height: 460px;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 12px;
}

img {
  object-fit: cover;
  width: 240px;
  height: 240px;
}

p {
  margin-left: 8px;
  text-transform: capitalize;
}